<h1>Square Calculator</h1>

<form action="/square/results">
  <label for="user_number">Enter a number</label>
  <input id="user_number" name="user_number" type="text">
  <button>Calculate square</button>
</form>
